# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env
.env.*
!.env.example

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Flask
instance/

# IDE
.vscode/
.idea/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

**/.env